<div class="signup-container">
  <h2>Create Your Account</h2>
  <form (ngSubmit)="onSubmit()" class="signup-form" #signupForm="ngForm">
  <div class="form-field">
     <label for="email">Email</label>
     <input type="email" id="email" [(ngModel)]="userData.email" name="email" #email="ngModel" placeholder="Enter your email" required email />
     <div class="validation-error" *ngIf="email.invalid && email.touched">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Please enter a valid email.</div>
     </div>
  </div>
  <div class="form-field">
     <label for="name">Full Name</label>
     <input type="text" id="name" [(ngModel)]="userData.name" name="name" placeholder="Enter your full name" required />
  </div>
  <div class="form-field">
     <label for="dob">Date of Birth</label>
     <input type="date" id="dob" [(ngModel)]="userData.dateOfBirth" name="dateOfBirth" required />
  </div>
  <div class="form-field">
     <label for="password">Password</label>
     <input type="password" id="password" [(ngModel)]="userData.password" name="password" placeholder="Enter your password" required />
  </div>
  <div class="form-field">
   <label for="constituency">Constituency</label>
   <select id="constituency" [(ngModel)]="selectedConstituencyName" name="constituencyName" required>
       <option *ngFor="let constituency of constituencies" [value]="constituency.name">{{ constituency.name }}</option>
   </select>
 </div>
  <div class="form-field">
   <label for="uniqueVoterCode">Unique Voter Code</label>
   <input type="text" id="uniqueVoterCode" [(ngModel)]="userData.uniqueVoterCode" name="uniqueVoterCode" placeholder="Enter your Unique Voter Code" required />
</div>
  <div *ngIf="errorMessage" class="error-message">
     {{ errorMessage }}
  </div>
  <button type="submit" class="submit-btn" [disabled]="signupForm.invalid">Sign Up</button>
  <button type="button" class="switch-btn" (click)="navigateToLogin()">Already have an account? Login</button>
  </form>
</div>